# Ignore Python cache and environment files
__pycache__/
*.py[cod]
.env/
.venv/
env/
venv/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore notebook checkpoints
.ipynb_checkpoints/

# Ignore IDE config
.vscode/
.idea/

# Ignore raw data (full datasets)
data/raw/


# Ignore logs and temp files
*.log
*.tmp
*.bak

# Ignore all JSON files except ADF ARM templates
*.json
!adf/arm_template/*.json

# Ignore DBT target folders
dbt_modules/
target/

# Ignore Power BI files (large binaries)
*.pbix

# Allow markdown and documentation
!*.md
